{% extends "music/base.html" %}
{% load static %}
{% load staticfiles %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% block content %}
<!-- banner -->
<div id="main-wrapper">
	<div id="top">
		<header id="logo">
			<div id="home" class="grid__item color-9">
				<h1><a class="link link--ilin" href=""><span> Emusic-</span><span>UVG</span></a></h1>
			</div>
		</header>
		<div class="search-box">
			<form action="javascript:void(0);" method="get">

			<fieldset>

				<ul class="toolbar clearfix">
                    {% comment %}
					<li><input type="search" id="search" placeholder="What are you looking for?"></li>
					<li><button type="submit" id="btn-search"><span class="fontawesome-search"></span></button></li>
                    {% endcomment %}
				</ul>

			</fieldset>

			</form>
		</div>
		<script>
			( function() {

				$('#btn-search').on('click', function(e) {

					e.preventDefault();
					$('#search').animate({width: 'toggle'}).focus();

				});

			} () );
		</script>

	</div>
	<!-- Content -->
	<div id="content">
		<div id="fullscreen-slider" class="swiper-container">

				<div class="banner-text">
					<div class="banner-info">
						<h3>Ayudanos a construir <span>un clasificador </span> de música</h3>

                        <h2 class="help-text">Nos gustaría que nos dieras tu opinión sobre las canciones que te enseñaremos
                            a continuación. Todos los datos que recabemos serán únicamente para propósitos
                            académicos.
                        </h2>
					</div>
                    <div class="user-form">
                        <form method="post" action="{% url "start_classification" %}">
                            {% csrf_token %}
                            <h2 class="help-text">
                                Por favor ingresa tus datos para iniciar:
                            </h2>
                            <div class="input-element">
                                 <span class="label-input">Nombres: </span> {{ participant_form.first_name }}
                            </div>
                            <div class="input-element">
                                <span class="label-input">Apellidos: </span> {{ participant_form.last_name }}
                            </div>
                            <div class="input-element">
                               <span class="label-input">Edad: </span>  {{ participant_form.age }}
                            </div>
                            <div class="input-element">
                                <span class="label-input">Género: </span>
                                {{ participant_form.gender }}
                            </div>

                            <button class="button-start-classification"
                                    type="submit"> Iniciar </button>

                        </form>

                    </div>


				</div>


		</div>
	</div>

</div>
{% endblock %}


{% block extra_scripts %}
<!-- for bootstrap working -->
<script src="{% static "js/bootstrap.js" %}"></script>
<!-- //for bootstrap working -->

<!-- smooth scrolling -->
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

{% endblock %}
