{% extends "music/base.html" %}
{% load staticfiles %}
{% block content %}
    <link type="text/css" href="{% static "css/blue.monday/css/jplayer.blue.monday.css"%}" rel="stylesheet" />

    <div class="background song-classification-section">
        <div class="content-panel">

            <div class="song-number-panel">
                <ul>
                    {% for i in num_songs %}
                        {% if i == song_number %}
                            <span class="selected">{{ i }}</span>

                        {% else %}
                            <span class="yellow">{{ i }}</span>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="music-player-container">
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                  <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                      <div class="jp-controls">
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                      </div>
                      <div class="jp-progress">
                        <div class="jp-seek-bar">
                          <div class="jp-play-bar"></div>
                        </div>
                      </div>
                      <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                          <div class="jp-volume-bar-value"></div>
                        </div>
                      </div>
                      <div class="jp-time-holder">
                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        <div class="jp-toggles">
                          <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                        </div>
                      </div>
                    </div>
                    <div class="jp-details">
                      <div class="jp-title" aria-label="title">&nbsp;</div>
                    </div>
                    <div class="jp-no-solution">
                      <span>Update Required</span>
                      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                  </div>
                </div>
            </div>

            <div class="mood-options-form">
                <h2 class="help-text">En su opinion...¿Qué emoción tiene esta canción?</h2>
                <form method="post" class="mood-form" action="{% url "song_classification" %}">
                    {% csrf_token %}
                    <input type="hidden" name="participant_pk" value="{{ participant.pk }}">
                    <input type="hidden" name="song_number" value="{{ song_number }}">
                    <input type="hidden" name="song_pk" value="{{ song.pk }}">
                    <input type="hidden" id="mood" name="mood" value="">
                    <input type="hidden" id="time" name="time" value="0">
                    <div class="mood-option-container" val="alegria">
                        <p>Alegria</p>
                        <img height="250px"  src="{% static "images/joy.png" %}" alt="">
                    </div>
                    <div class="mood-option-container" val="tristeza">
                        <p>Trizteza</p>
                        <img height="250px" src="{% static "images/sadness.png" %}" alt="">
                    </div>
                    <div class="mood-option-container" val="enojo">
                        <p>Enojo</p>
                        <img height="250px" src="{% static "images/anger.png" %}" alt="">

                    </div>
                    <div class="mood-option-container" val="miedo">
                        <p>Miedo</p>
                        <img height="250px" src="{% static "images/fear.png" %}" alt="">

                    </div>
                    <div class="mood-option-container" val="neutral">
                        <p>Neutral</p>
                        <img height="250px" src="{% static "images/neutral.png" %}" alt="">
                    </div>
                     <div class="button-container">
                        <button disabled
                            class="button-send-classification disabled"
                            id="send-classification"
                            type="submit"> Enviar </button>
                     </div>

                </form>

            </div>

        </div>

    </div>
    <script type="text/javascript">
        function decodeHTML(s) {
            var map = {"gt":">" /* , … */};
            return s.replace(/&(#(?:x[0-9a-f]+|\d+)|[a-z]+);?/gi, function($0, $1) {
                if ($1[0] === "#") {
                    return String.fromCharCode($1[1].toLowerCase() === "x" ? parseInt($1.substr(2), 16)  : parseInt($1.substr(1), 10));
                } else {
                    return map.hasOwnProperty($1) ? map[$1] : $0;
                }
            });
        };

        var start = window.performance.now();
        jQuery("#send-classification").click(function(){
            var end = window.performance.now();
            var time = end-start;
            jQuery("#time").val(time);
            jQuery(this).submit();


        });
        $(document).ready(function(){
          $("#jquery_jplayer_1").jPlayer({
            ready: function () {
              $(this).jPlayer("setMedia", {
                title: "Escuha la canción!",
                mp3: decodeHTML('{{ song.cloud_front_path }}'),
                wav: decodeHTML('{{ song.cloud_front_path }}')
              });
            },
            cssSelectorAncestor: "#jp_container_1",
            swfPath: "{% static "js/jquery.jplayer.swf" %}",
            supplied: "mp3, wav",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            preload:"auto",
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
          });
        });

        $(".mood-option-container").click(function(){
            $(".button-send-classification").removeClass("disabled");
            $(".button-send-classification").prop('disabled', false);
            $(".mood-option-container").removeClass("selected");
            $(this).addClass("selected");
            var value = $(this).attr("val");
            $("#mood").attr("value", value);
        })
    </script>
{% endblock %}



